[submodule "MIOJSLibs"]
	path = MIOJSLibs
	url = https://github.com/miolabs/MIOJSLibs.git
	branch = swift-compiler
[submodule "swift-source/swift"]
	path = swift-source/swift
	url = https://github.com/miolabs/swift.git
